.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color:#2eb67d;
  border:0.1rem solid #2eb67d;
  border-radius:.4rem;
  color:#fff;
  cursor:pointer;
  display:inline-block;
  font-size:1.1rem;
  font-weight:700;
  height:3.8rem;
  letter-spacing:.1rem;
  line-height:3.8rem;
  padding:0 3.0rem;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  white-space:nowrap;

  @media (max-width: 600px) {
    width: 100%;
  }

  &.button--secondary {
    background-color: #efefef;
    color: #444;
    border-color: #c7c7c7;
  }

  &.button--danger {
    background-color: $error-background;
    color: #444;
    border-color: $error-border;
  }

  &.button--no-pad {
    padding: 0 1.2rem;
    width: auto;
  }

  &.button--small {
    padding: 0 0.7rem;
    line-height: 3rem;
    width: auto;
    height: 3rem;
  }
}

a[disabled] {
  pointer-events: none;
}

.button[disabled],
button[disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
input[type='submit'][disabled]{
  cursor:default;
  opacity:.5;
}


.button[disabled] {
  &:focus,
  &:hover {
    background-color:#2eb67d;
    border-color:#2eb67d;
  }
}

.button-outline {
  background-color:transparent;
  color:#2eb67d;

  &:focus,
  &:hover {
    background-color:transparent;
    border-color:#606c76;
    color:#606c76;
  }
}

.button-outline[disabled] {
  &:focus,
  &:hover {
    border-color:inherit;
    color:#2eb67d;
  }
}

.button-clear {
  background-color:transparent;
  border-color:transparent;
  color:#2eb67d;

  &:focus,
  &:hover {
    background-color:transparent;
    border-color:transparent;color:#606c76;
  }
}

.button-clear[disabled] {
  &:focus,
  &:hover {
    color:#2eb67d;
  }
}
