.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit']{
  background-color:#2eb67d;
  border:0.1rem solid #2eb67d;
  border-radius:.4rem;
  color:#fff;
  cursor:pointer;
  display:inline-block;
  font-size:1.1rem;
  font-weight:700;
  height:3.8rem;
  letter-spacing:.1rem;
  line-height:3.8rem;
  padding:0 3.0rem;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  white-space:nowrap;

  @media (max-width: 600px) {
    width: 100%;
  }
}

input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color:#39AC6E;
  border-color:#39AC6E;
  color:#fff;
  outline:0;
}

.button[disabled],
button[disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
input[type='submit'][disabled]{
  cursor:default;
  opacity:.5;
}


.button[disabled],
button[disabled],
input[type='button'][disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
input[type='reset'][disabled],
input[type='submit'][disabled],
input[type='submit'][disabled] {

  &:focus,
  &:hover {
    background-color:#2eb67d;
    border-color:#2eb67d;
  }
}

.button,
.button-outline,
button.button-outline,
input[type='button'],
.button-outline,
input[type='reset'],
.button-outline,
input[type='submit']
.button-outline {
  background-color:transparent;
  color:#2eb67d;
}

.button,
.button-outline,
input[type='button'],
input[type='reset'],
input[type='submit'] {

  &:focus,
  &:hover {

    background-color:transparent;
    border-color:#606c76;
    color:#606c76;
  }
}

.button,
.button-outline[disabled],
button.button-outline[disabled],
input[type='button'].button-outline[disabled],
input[type='reset'].button-outline[disabled],
input[type='submit'].button-outline[disabled] {

  &:focus,
  &:hover {
    border-color:inherit;
    color:#2eb67d;
  }
}
.button.button-clear,
button.button-clear,
input[type='button'].button-clear,
input[type='reset'].button-clear,
input[type='submit']
.button-clear {
  background-color:transparent;
  border-color:transparent;
  color:#2eb67d;
}

.button
.button-clear,
button.button-clear,
input[type='button'],
input[type='button'],
input[type='reset'],
input[type='reset'],
input[type='submit']{

  &:focus,
  &:hover {
    background-color:transparent;
    border-color:transparent;color:#606c76;
  }
}

.button,
.button-clear[disabled],
button.button-clear,
input[type='button'],
.button-clear[disabled],
input[type='button'],
.button-clear[disabled],
input[type='reset'],
.button-clear[disabled],
input[type='submit'],
button-clear[disabled] {

  &:focus,
  &:hover {
    color:#2eb67d;
  }
}