.drawing {
  margin-top: 24px;
}

.drawing__swatch {
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 2px solid black;
}

.drawing__slider {
  width: 100px;
}

.drawing__swatch--selected {
  margin-bottom: 5px;
  filter: drop-shadow(0 5px 4px #00000077);
}

.drawing__controls {
  background: #00000014;
  padding: 10px;
  margin-top: 15px;
}
