.choice-list {
  list-style: none;

  .choice-list__choice {
    padding: 10px;
    background: #eee;
    margin-bottom: 5px;
    border: 2px solid #eee;
  }

  .choice-list__choice--clickable {
    cursor: pointer;

    &:hover {
      border-color: #ccc;
    }
  }

  .choice-list__choice--selected {
    &, &:hover {
      border-color: green;
    }
  }
}

.well {
  margin: 0;
  padding: 10px;
  background: #eee;
}

.mt {
  margin-top: 20px;
}

.mb {
  margin-bottom: 20px;
}

.notice {
  padding: 10px;
  margin-bottom: 20px;
  background: #c0f1fa;
}
