html, body, #react-root {
  height: 100%;
}

.game-page {
  overflow: auto; // prevents margin collapsing
  background: #D6EDFF;
  min-height: 100%;

  .game-page__content {
    padding: 0 10px;
    padding-bottom: 10px;
  }
}

.game-card {
  background: $white;
  border-radius: 6px;
  margin-top: 1em;
  padding: 1em;

  li {
    list-style: none;
  }
}

.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.lobby__game-header {
  background: #3985c7;
  border-radius: 0 0 6px 6px;
  color: $white;
  font-weight: 600;
  padding: .5em;
  text-align: center;
}

.lobby__game-header__code {
  background: #24649c;
  display: inline-block;
  padding: 3px 6px 0 6px;
  border-radius: 4px;
  box-shadow: inset 0 0 10px #00000059;
}

.lobby__join {
  background: $white;
  border-radius: 6px;
  margin-top: 1em;
  padding: 1em;
}

.lobby__joined {
  margin-top: 1em;
  color: #3985c7;
  text-align: center;
}

.lobby__members {
  background: $white;
  border-radius: 6px;
  margin-top: 1em;
  padding: 1em;
}

.lobby__members-header {
  border-bottom: 1px dashed #3985c7;
  padding-bottom: 1em;
  font-size: 1.7rem;
  font-weight: bold;
  color: $black;
}

.lobby__members-list {
  margin: 0;

  li {
    margin-bottom: 5px;

    &:last-child {
      margin: 0;
    }
  }
}

.game-card {
  background: $white;
  border-radius: 6px;
  margin-top: 1em;
  padding: 1em;
}

.choices {
  .choices__list {
    list-style: none;
    margin: 0;

    .choices__choice {
      padding: 10px;
      background: white;
      margin-bottom: 5px;
      border: 2px solid #eee;
    }

    .choices__choice--clickable {
      cursor: pointer;
      border: 2px dashed #ccc;

      @include hover {
        border: 2px solid #ccc;
        background: #ddd;
      }
    }

    .choices__choice--selected {
      &, &:hover {
        border: 2px solid green;
      }
    }
  }
}

.waiting-room__header {
  font-size: 1.1em;
  margin-bottom: 1em;
}

.waiting-room__list {
  background: #effaff;
  border-radius: 6px;
  padding: 1em;

  ul {
    margin-bottom: 0;
  }
}

.header {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: $black;
}

.well {
  margin: 0;
  padding: 10px;
  background: #eee;
}

.notice {
  padding: 10px;
  margin-bottom: 20px;
  background: #c0f1fa;
}

.current-prompt {
  padding: 10px;
  border: 1px solid #b2cee4;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  background: white;

  .current-prompt__heading {
    padding: 4px 8px;
    color: white;
    background: #ff7700;
    position: absolute;
    top: -12px;
    left: -8px;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: bold;
  }
}

.turn {
  margin-bottom: 30px;

  .turn__inner {
    // full screen width:
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    padding: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
    background: #443171;
    border-bottom: 2px solid #af8eff;

    &.turn__inner--mine {
      background: #81da6a;
      border-bottom: 2px solid #4d9439;
    }
  }

  .turn__out {
    background: #f9b4ad;
    text-align: center;
    padding: 8px;
  }

  .leaderboard-button {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
  }
}

.block-text {
  display: inline-block;
  border: 1px solid #d2d2d2;
  padding: 0 7px;
  background: #eee;
  border-radius: 5px;
  margin-bottom: 5px;
}

.condensed-note {
  line-height: 1.2;
  font-size: 0.8em;
  color: $note-gray;
  margin: 10px 0;
}

.button-info {
  font-size: 0.8em;
  text-align: center;
  padding-bottom: 5px;
  color: $note-gray;
}
