@mixin hover {
  // Won't apply hover states on mobile, which can have strange behavior
  // with "sticky" hover states.
  .no-touch &:hover {
    @content;
  }
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
