.game-page--telestrations {
  .game-page__content {
    // we need extra to avoid accidental swipes while drawing
    // activating the browser back/forward functionality
    padding: 0 24px 24px 24px;
  }
}

.drawing-img {
  background: white;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 1em;

  img {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
}
