.game-page--telestrations {
  .game-page__content {
    // we need extra to avoid accidental swipes while drawing
    // activating the browser back/forward functionality
    padding: 0 24px 24px 24px;
  }
}

.drawing-img {
  background: white;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 1em;

  img {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
}

.show-and-tell__player {
  padding: 2px 8px;
  color: white;
  background: #1b89d8;
  position: absolute;
  top: -12px;
  left: -8px;
  border-radius: 4px;
}

.show-and-tell__step {
  padding: 2px 8px;
  background: #fbfbfb;
  border: 1px solid #eee;
  position: absolute;
  top: -12px;
  right: -8px;
  border-radius: 4px;
}
