$spacing: 10px;

.mt {
  margin-top: 20px;
}
.mb {
  margin-bottom: 20px;
}
.mt-1 {
  margin-top: $spacing;
}
.mb-1 {
  margin-bottom: $spacing;
}
.mt-2 {
  margin-top: $spacing * 2;
}
.mt-3 {
  margin-top: $spacing * 3;
}
.mb-2 {
  margin-bottom: $spacing * 2;
}

.large-icon {
  font-size: 3rem;
  line-height: 1;
}

.wide {
  display: block;
  width: 100%;
}

.centered {
  text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.uppercase {
  text-transform: uppercase;
}
